# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

docker/mac-receiver
desktop/docker-connector
desktop/docker-connector-*.tar.gz
desktop/options.conf
desktop/docker-connector-*-sha256.txt
desktop/build
accessor/build
accessor/docker-accessor
accessor/docker-accessor*.tar.gz
accessor/docker-accessor*.zip
accessor/docker-accessor-*-sha256.txt
tmp/
.DS_Store
